<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kathy's Baked Salmon</title>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">First Recipe</a></li>
            <li><a href="#">Second Recipe</a></li>
            <li><a href="#">Third Recipe</a></li>
        </ul>

    </nav>
    <h1>Kathy's Baked Salmon</h1>
    <h2>United States  <img src="https://res.cloudinary.com/dhg2lpfid/image/upload/v1569271994/american-flag-vector-icon-260nw-545060830_abwpoa.webp"
                          alt="American Flag"
                          height="75"> </h2>
    <h2>Ingredients:</h2>
    <ul>
        <li>1 lb. salmon fillet, divided</li>
        <li>olive oil</li>
        <li>seasoned salt</li>
        <li>dill</li>
    </ul>
    <h2>Directions:</h2>
    <p>Pre-heat oven to 350 degrees.</p>
    <p>Line a brownie pan or square pan with aluminum foil, shiny side up.</p>
    <p>Lay salmon fillets in lined pan, skin side down.</p>
    <p>Spread olive oil over salmon fillets.</p>
    <p>Sprinkle with seasoned salt.</p>
    <p>Sprinkle liberally with dill.</p>
    <h2>Bake:</h2>
    <p>Bake uncovered at 350 for 15-20 minutes depending on thickness of fillets.</p>

    <p>Serve immediately with accompaniment of your choice such as rice and steamed spinach.</p>

    <h2><b>Serves 2-3 people.</b></h2>
</head>
<body>

</body>
</html>