<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kathy's Baked Salmon</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="background-color: lightsalmon">
<nav class="nav">
<a class="nav-link active" href="#">Kathy's Baked Salmon</a>
<a class="nav-link" href="#">Home</a>
<a class="nav-link" href="#">Recipe1</a>
<a class="nav-link" href="#">Recipe2</a>

</nav>
<div class="container">
    <div class="jumbotron" style="background-color: lightyellow">
        <h1 style="text-align: center">Kathy's Baked Salmon</h1>
        <h2 style="text-align: center;">United States  <img src="https://res.cloudinary.com/dhg2lpfid/image/upload/v1569271994/american-flag-vector-icon-260nw-545060830_abwpoa.webp"
                              alt="American Flag"
                              height="75"> </h2>
        <br>
        <div class="container" style="padding-left: 0px">
            <div class="row">
                <div class="col">
                    <h2>Ingredients:</h2>
                    <ul>
                        <li>1 lb. salmon fillet, divided into desired-size portions</li>
                        <li>1 tbl. olive oil</li>
                        <li>Seasoned salt, to taste</li>
                        <li>Dill, dried or fresh, to taste</li>
                    </ul>
                </div>
                <div class="col">
                    <img src="https://res.cloudinary.com/dhg2lpfid/image/upload/v1569285459/IMG_0177_i8isns.jpg"
                         alt="Kathy's Baked Salmon"
                         height = "250">
<!--                    <h6>Pictured here with a medley of lentils, whole grains, edamame, peas, and broccoli.</h6>-->
                </div>
            </div>
        </div>

        <h2>Directions:</h2>
        <p>Pre-heat oven to 350 degrees.</p>
        <p>Line a brownie pan or square pan with aluminum foil, shiny side up.</p>
        <p>Lay salmon fillets in lined pan, skin side down.</p>
        <p>Spread olive oil over salmon fillets.</p>
        <p>Sprinkle with seasoned salt.</p>
        <p>Sprinkle liberally with dill.</p>
        <h2>Bake:</h2>
        <p>Bake uncovered at 350 for 15-20 minutes depending on thickness of fillets.</p>
        <p>Serve immediately with accompaniment of your choice.</p>
        <h2><b>Serves 2-4 people.</b></h2>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>